@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    color: black;
    width: 100vw;
    overflow-x: hidden;
}

/* .screen{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}*/
section{
   background-image: none;
} 

h2{
    font-size: 3rem;
    font-weight: 400;
}

.title{
    width: 90%;
    margin-block: 10px;
    text-align: center;
}

.title p{
    line-height: 25vh;
    font-size: 16rem;
    font-weight: 700;
    color: white;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.imgAndName{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.imgAndName img{
    width: 35%;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}
#marco{
    color: black;
    font-size: 10rem;
    font-weight: 700;
}
#diaz{
    color: white;
    font-size: 10rem;
    font-weight: 700;
    line-height: 100%;
    -webkit-text-stroke: 1.5px #A2B2F5;
    text-shadow: 0 0 10px #A2B2F5;
    margin-bottom: 20px;
}

#description{
    font-size: 2.5rem;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: white;
    -webkit-text-stroke: 1.5px black;
    font-weight: 700;


}

.margintop{
    margin-top: 50px;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.center-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.column{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#macbookSection{
    height: 130vh;
    width: 99vw;
    z-index: 10;
    /* position: relative; */
}
#macbookSection img{
    width: 99vw;
    height: 100vh;
}

/* #macScreen{
    width: 100vw;
    height: 100vh;
} */

#screenScroll{
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  justify-content: center;
  margin-top: -100vh;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  overflow-x: hidden;
 
}
.block1{
    width: 60vw;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
    scroll-snap-align: center;
}
.block1 h1{
    font-size: 3rem;
}

.arrow{
    margin-top: 1rem;
    width: 6rem;
}

.img{
    width: 30vw;
}
.textBlock{
    color: rgb(28, 28, 28);
    font-size: 1.1rem;
    border-radius: 20px;
    padding: 50px;
    background: #A2B2F5;
    width: 20vw;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    font-weight: 400;
    text-align: justify;
    text-justify: inter-word;

}
.textBlock h2{
    color: white;
    font-weight: 600;
    padding-bottom: 20px;
}
#aboutMe{
    font-size: 13rem;
    
} 

#knowledgeSection{
    margin-top: 50vh;
}
#knowledge{
    font-size: 13rem;
}
#knowledgeImg{
    height: 75vh;
}

.knowledgeContainer{
    justify-content: space-evenly;
    align-items: center;
}
#frameworks{
    width: 400px;
    height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    margin-top: 20px;
}

.element{
    border-radius: 10px;
    width: 100%;
    height: 100%;
    /* background-color: #A2B2F5; */
    background: white;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
}

.element:hover{
    border-radius: 30px;
    transition: 0.5s;
    filter: brightness(1.1);
}
.element img{
    height: 150px;
    width: 150px;
}



.element:nth-child(1){
    background-color: rgb(255, 128, 24);
} 
.element:nth-child(2){
    background-color: rgb(228, 42, 42);
} 
.element:nth-child(3){
    background-color: rgb(38, 136, 216);
} 
.element:nth-child(4){
    background-color: rgb(99, 227, 44);
} 

/* EDUCATION */

#education{
    font-size: 14rem;

}

.studies{
    width: 100%;
    justify-content: space-evenly;
    background: url('/img/esferasblur1.png') no-repeat left center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 100px;

}

.studies img{
    width: 35vw;
}

.studies p{
    width: 38vw;
    font-size: 1.3rem;
    text-align: justify;
    text-justify: inter-word;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 30px;
}

.highlight1{
    font-weight: 600;
    font-size: 1.4rem;
    color: #A2B2F5;
}
.highlight2{
    font-weight: 500;
    font-size: 1.3rem;
    color: #D88741;
}